:root {
  --body-color: #c0c0c0;
  --theme-bg: #19201F;/*fond*/
  --prod-bg: #383534;/*fond prod*/
  --theme-background: 10 10 10;
  
  --font-color: #FFFFFF; /*blanc*/
  --font-color-2: #BB86FC; /*purple*/ 
  --font-color-3: #03DAC5; /*teal*/
  --color-info: #f0f8ff; /* Blanc cassé */
  --color-dark: #edeffd; /* Gris très clair */
  --color-danger: #cc5500; /* Rouge-rose */
  --color-warning: #ff4f00;

  --loupe : 255 255 255;
  --input: #515151;

  --white: #f0f8ff; /* Blanc cassé */

  --font-color-11: #E0E0FB; /* bleu très clair */
  --font-color-12: #2E8B57; /* vert1 */
  --font-color-13: #8FBC8F; /* vert2 */
  --font-color-14: #3CB371; /* vert3 */
  --font-color-15: #006400; /* vert4 */
  --font-color-16: #2E4053; /* bleu1 */
  --font-color-17: #536878; /* bleu2 */
  --font-color-18: #89A9B4; /* bleu3 */
  --font-color-19: #A9D1DB; /* bleu4 */
  --font-color-20: #D0E2E8; /* bleu5 */
  --font-color-21: #FF7597; /* rose pale */
  --font-color-22: #FF0266; /* rose vif */

  --color-primary: #7380ec; /* Bleu-violet */
  --color-white: #fff;
  --color-info: #7d8da1; /* Bleu-gris */
  --color-dark: #363949; /* Noir */
  --theme-bg2: #f6f6f9; /* Gris très clair */
  --color-danger: #ff7782; /* Rouge-rose */
  --color-warning: #ff4500; /* orange */

  --icones-color: #DCBBAD; /*icones*/
  
  --gradient-color-1: #96D6E1; /* cyan */  
  --gradient-color-2: #B3E5CF; /* bleu vert */
  --linear-gradient: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
}

body {
background-color: #5a585b;
  margin: 0px;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

h1, h2, h3, h4, input, select, button, span, a, p {
  color: var(--font-color);
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

button, a, input {  
  outline: none;
}



#nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
/*  position: absolute;*/
  left: 0px;
  top: 0px;
  z-index: 3;
  background-color: #333333; /*var(--theme-bg);*/
  padding: 0.5rem 1rem;
  border-top: 1px solid rgb(255 255 255 / 10%);
}

#nav > button {
  padding: 0.5rem 1.5rem;  
  border-radius: 0.25rem;
  position: relative;
}

#nav > button.active:after {
  content: "";
  height: 0.25rem;
  width: 5rem;/*1.5rem;*/
  position: absolute;
  top: -0.5rem;
  left: 50%;
  translate: -50%;
  background: var(--color-primary);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#nav > button:hover,
#nav > button:focus-visible {
  background-color: rgb(255 255 255 / 10%);
}

#nav > button > i {
  width: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
}

a {
    text-decoration: none;
}


.corps {
  display: block;
  background-color: #5a585b;
  position: relative;
  margin-top: 1rem;
  padding-bottom: 4rem;
}











/* Compte Compte Compte Compte */
/* Compte Compte Compte Compte */
/* Compte Compte Compte Compte */

.box {
  border: 1px solid var(--prod-bg);
  padding: 30px 25px 10px 25px;
  background: var(--prod-bg);
  margin: 30px auto;
  width: 360px;
  border-radius: 10px;
}
h1.box-logo a {
  text-decoration:none;
}
h1.box-title {
  color: var(--font-color-12);
  background: var(--prod-bg);
  font-weight: 500;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 2em;
  text-align:center;
  margin: -30px -26px 30px -26px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
/*  margin: -27px -26px 26px;*/
}
.box-title i {
  color:var(--font-color-12);
}
.box-button {
  border-radius: 6px;
  background: #367588;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
  height: 51px;
  padding: 0;
  color: #fff;
  border: 0;
  outline:0;
}
.box-button:hover {
  background-color: #6b8e23;
}
.box-register
{
  text-align:center;
  margin-bottom:0px;
  color: var(--font-color-12);
}

.box-register a
{
  text-decoration:none;
  font-size:1em;
  color: var(--color-warning);
}
.box-input {
  font-size: 1.1em;
  background: var(--input);
  border: 1px solid #313131;
  margin-bottom: 25px;
  padding-left:10px;
  border-radius: 5px;
  width: 320px;
  height: 50px;
  color: var(--white);
}
.box-input:focus {
    outline: none;
    border-color:#6b8e23;
}
.succes{
  text-align: center;
  color: white;
}
.succes a {
  text-decoration: none;
  font-size: 1.2em;
  color: #dc143c;
}
p.MessageErreur {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 3px;
}



/* Panier Panier Panier Panier */
/* Panier Panier Panier Panier */
/* Panier Panier Panier Panier */

.container2 {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 30px;
}
.container2 h2 {
  padding: 2rem 1rem;
  font-size: 2.5rem;
  text-align: center;
  color: black;
  background-color: var(--font-color-18);
}
.tbl {
  width: 100%;
  border-collapse: collapse;
}
.tbl thead {
  background: #424949;
  color: #fff;
}
.tbl thead th {
  background: #004949;
  color: #fff;
}

.tbl tfoot {
  background-color: var(--font-color-22);
  color: #fff;
}
.tbl tfoot tr td {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 0.8rem;
  background-color: #004949;
}
.tbl thead tr th {
  font-size: 0.9rem;
  padding: 0.8rem;
  vertical-align: top;
}
.tbl tbody tr td {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  padding: 0.8rem;
}
.tbl tr:nth-child(even) {
  background: var(--color-info);
  color: white;
}
.tbl tr:nth-child(odd) {
  background: var(--font-color-17);
  color: white;
}
.tbl tr:hover td {
  background: #839192;
  color: #000;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.tbl td img {
  width: 48px;
  margin-right: 0.5rem;
  border-radius: 5%;
  vertical-align: middle;
  mix-blend-mode: multiply;
}
.action {
  padding: 0.4rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 14px;
}
.action.commander {
  background-color: #86e49d;
  color: #006b21;
}
.action.supprimer {
  background-color: #d893a3;
  color: #b30021;
}
.action.autre1 {
  background-color: #ebc474;
}
.action.autre2 {
  background-color: #6fcaea;
  margin: 5px;
}
.tbl button {
  display: inline-block;
  border: none;
  margin: 0 auto;
  padding: 0.4rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn-trash {
  background: #e74c3c;
  color: #fff;
}
.btn-edit {
  background: #ffa500;/*#1e8449;*/
  color: #fff;
}
.tbl button.btn-edit:hover {
  background-color: #cc5500;
  transition: all 0.3s ease-in;
}
.tbl button.btn-trash:hover {
  background-color: #af002a;
  transition: all 0.3s ease-in;
}
.action.commander:hover {
  background-color: #8fd400;
  transition: all 0.3s ease-in;
}
.action.supprimer:hover {
  background-color: #ff9999;
  transition: all 0.3s ease-in;
}
@media (max-width: 880px) {
  .tbl thead {
    display: none;
  }
  .tbl tr,
  .tbl td {
    display: block;
    width: 100%;
  }
  .tbl tr {
    margin-bottom: 1rem;
  }
  .tbl tfoot tr:last-child {
    margin-bottom: 0rem;
  }
  .tbl tbody tr td {
    text-align: right;
    position: relative;
  }
  .tbl tfoot tr td {
    text-align: right;
    position: relative;
  }
  .tbl .cach {
    display: none;
  }
  .tbl td::before {
    content: attr(data-table);
    position: absolute;
    left: 0;
    width: 30%;
    text-align: left;
    padding-left: 1.2rem;
  }
}

input[type="number"] {
  width:40px;
  height: 24px;
  background-color: #6fcaea;
  color: white;
  font-size: 14px;
  padding-left: 8px;
  border-radius: 6px;
  border:none;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="number"]:hover {
    background-color: var(--white);
    font-weight: 600;
    color: #6fcaea;
    border: solid 1px #6fcaea;
}




